<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

<select id="queryOrders" resultType="com.sky.entity.Orders">
    SELECT * FROM sky_take_out.orders
    <where>
        <if test="dto.status != null">
            and status = #{dto.status}
        </if>
        <if test="dto.phone != null">
            and phone = #{dto.phone}
        </if>
        <if test="dto.number != null">
            and number = #{dto.number}
        </if>
        <if test="dto.beginTime != null">
            and order_time &gt;= #{dto.beginTime}
        </if>
        <if test="dto.endTime != null">
            and order_time &lt;= #{dto.endTime}
        </if>

        and shop_id = #{shopId}

    </where>
    <choose>
        <when test="dto.status != null and dto.status == 1">
            order by order_time desc
        </when>
        <when test="dto.status != null and dto.status == 2">
            order by checkout_time desc
        </when>
        <otherwise>
            order by delivery_time desc
        </otherwise>
    </choose>
</select>
    <update id="updateStatus" parameterType="com.sky.entity.Orders">
        update sky_take_out.orders
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="deliveryStatus != null">
                delivery_status = #{deliveryStatus},
            </if>
            <if test="rejectionReason != null">
                rejection_reason = #{rejectionReason}
            </if>
            <if test="estimatedDeliveryTime!= null">
                estimated_delivery_time = #{estimatedDeliveryTime},
            </if>
            <if test="checkoutTime != null">
                checkout_time = #{checkoutTime},
            </if>

            <if test="tablewareNumber != null">
                tableware_number = #{tablewareNumber},
            </if>
            <if test="tablewareStatus != null">
                tableware_status = #{tablewareStatus},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="deliveryFee != null">
                delivery_fee = #{deliveryFee},
            </if>

        </set>
        where id = #{id}
    </update>


    <select id="getOrdersSum" resultType="map">
        select date(order_time) as day, count(id) as totalOrderCount
        from orders
        <where>
            <if test="dto.begintime != null">
                and order_time &gt;= #{dto.begintime}
            </if>
            <if test="dto.endtime != null">
                and order_time &lt; #{dto.endtime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.shopId != null">
                and shop_id = #{dto.shopId}
            </if>
        </where>
        group by date(order_time)
        order by day
    </select>
    <select id="getSalesTop10" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name as name, sum(od.number) as number
        from orders o, order_detail od
        <where>
            o.id = od.order_id
            <if test="dto.begintime != null">
                and order_time &gt;= #{dto.begintime}
            </if>
            <if test="dto.endtime != null">
                and order_time &lt; #{dto.endtime}
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
        </where>
        group by od.name
        order by number desc
        limit 0,10
    </select>
    <insert id="insert" parameterType="com.sky.entity.Orders" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into orders(number, status, user_id, address_book_id, order_time,
                           checkout_time, pay_method, pay_status, amount, remark,
                           user_name, phone, address, consignee, cancel_reason,
                           rejection_reason, cancel_time, estimated_delivery_time,
                           delivery_status, delivery_time, pack_amount,
                           tableware_number, tableware_status, shop_id, delivery_fee)
        values(#{number}, #{status}, #{userId}, #{addressBookId},
               #{orderTime}, #{checkoutTime}, #{payMethod}, #{payStatus},
               #{amount}, #{remark}, #{userName}, #{phone}, #{address}, #{consignee},
               #{cancelReason}, #{rejectionReason}, #{cancelTime}, #{estimatedDeliveryTime},
               #{deliveryStatus}, #{deliveryTime}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus}, #{shopId}, #{deliveryFee})
    </insert>
    <select id="pageQuery" resultType="Orders">
        select * from orders
        <where>
            <if test="number != null and number!=''">
                and number like concat('%',#{number},'%')
            </if>
            <if test="phone != null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt;= #{endTime}
            </if>
        </where>
        order by order_time desc
    </select>

</mapper>





